@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
	font-family:poppins, sans-serif;
	font-size: 16px;
	line-height: 24px;


	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* colors */
	--bg: #120722;
	--text: #fff;
	--border-color: #200648;
	--border-hover: #430c94;
		--btn-color: #b486f8;
	--shadow1: #160122;
	--shadow2: #0c0015;
}

body {
	margin: 0;
	display: flex;
	background-color: var(--bg);
color: var(--text);
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
}
#root {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@media (max-width: 480px) {
	#root {
		padding-top: 0;
	}
}

// App
.App {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;

	@media (min-width: 480px) {
		gap: 2rem;
	}
}
button {
	font-size: large;
	margin-left: 10px;
	padding: 7px;
	outline: none;
	border: none;
	border: 1px solid var(--border-color);
	background: none;
	color: var(--btn-color);
	border-radius: 10px;
	transition: 0.4s;
	box-shadow: -4px -4px 7px var(--shadow1), 4px 4px 7px var(--shadow2);
	cursor: pointer;
	&:active {
		scale: 0.9;
	}
	&:hover {
		border: 1px solid var(--border-hover);
	}
}

::-webkit-scrollbar {
	width: 8px;
	background: #170137;
}
::-webkit-scrollbar-thumb {
	background: #49149a;
	border-radius: 7px;
}

::selection {
	color: var(--btn-color);
	background: #000;
}
#foobar {
	margin-top: auto;
}
// ==============
// TodoList here
// ============
.todolist {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.addTask {
	max-width: 1000px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	input {
		flex: 1;
		outline: none;
		padding: 0.8rem 0.6rem;
		border: 1px solid var(--border-color);
		background: none;
		border-radius: 10px;
		font-size: 16px;
		letter-spacing: 0.3ch;
		box-shadow: -4px -4px 6px var(--shadow1), 4px 4px 10px var(--shadow2);
		transition: border 0.4s ease;
		&:focus {
			border: 1px solid var(--border-hover);
		}
	}
}

.lists {
	margin-top: 1rem;
	max-width: 1000px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	max-height: 650px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 20px;
	position: relative;
	@media (max-height: 800px) {
		max-height: 500px;
	}
	@media (min-width: 860px) {
		padding: 0 30px;
	}

	.list {
		// background: rgba(37, 13, 74, 0.49);
		border-radius: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		transition: scale 1s ease;
		box-shadow: -4px -4px 5px #200441, 4px 4px 5px #000000;
		margin: 5px;
		position: relative;
		.span-btns {
			position: absolute;
			right: 0;
			z-index: 9;

			span {
				cursor: pointer;
				user-select: none;
				background: #00000080;
				height: 20px;
				width: 20px;
				padding: 5px;
				border-radius: 50%;
				margin-right: 5px;
				transition: rotate 1s ease;
			}
			&:hover {
				.delete-btn {
					rotate: 90deg;
					transition: 0ms;
				}
			}
		}
		p {
			margin-left: 10px;
			text-transform: capitalize;
			width: calc(100% - 100px);
			text-align: left;
		}
		&:hover {
			scale: 1.04;
			transition: 0ms;

			border-left: 4px solid #49149a;
			border-right: 4px solid #49149a;
		}
	}
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background: #49149a;
		border-radius: 7px;
	}
}

.completed {
	opacity: 0.4;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		background: #3f3f3f;
	}
	&::before {
		content: "COMPLETED";
		position: absolute;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		letter-spacing: 0.3ch;
		height: 100%;
		z-index: 1;
		background: rgba(72, 18, 154, 0.616);
	}
}
.addtask-btn {
	@media (max-width: 390px) {
		font-size: 14px;
		padding: 0 5px;
	}
}



@import "compass/css3";

/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/

// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      text-align: left;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  span {color: #167F92;}
}